
html {
	min-height: 100%;

}

body {
	font-family: Times;
	padding-top: 50px;
	background-image:url(WF31DfX.png)
	/*background: -webkit-linear-gradient(360deg, #E6DADA 10%, #274046 90%); /* Chrome 10+, Saf5.1+ */
	/*background:    -moz-linear-gradient(360deg, #E6DADA 10%, #274046 90%); /* FF3.6+ */
	/*background:     -ms-linear-gradient(360deg, #E6DADA 10%, #274046 90%); /* IE10 */
	/*background:      -o-linear-gradient(360deg, #E6DADA 10%, #274046 90%); /* Opera 11.10+ */
	/*background:         linear-gradient(360deg, #E6DADA 10%, #274046 90%); /* W3C */


	/*background: -webkit-linear-gradient(180deg, #283048 10%, #859398 90%); /* Chrome 10+, Saf5.1+ */
	/*background:    -moz-linear-gradient(180deg, #283048 10%, #859398 90%); /* FF3.6+ */
	/*background:     -ms-linear-gradient(180deg, #283048 10%, #859398 90%); /* IE10 */
	/*background:      -o-linear-gradient(180deg, #283048 10%, #859398 90%); /* Opera 11.10+ */
	/*background:         linear-gradient(180deg, #283048 10%, #859398 90%); /* W3C */
}


a:hover {
	color: #3eb2b9;
}

.black {
	color: white;
	font-family: Verdana;
	text-align: center;
}

.active {
	background-color: #3941aa; /*#3eb2b9;*/
	/*padding: 10px;*/
	border-radius:  12px;

}
a:link{
	color: black;
}

a:visited {
	color: black;
}

.container {
	padding-top: 50px;
}

::selection {
	color: white;
	background-color: red;
}

.header {
	font-family: Impact;
	font-size: 40px;
	text-align: center;
	color: white;
}

span {
	font-family: "Segoe Ui";
	font-size: 20px;
	color: red;
}

marquee {
	text-align: left;
	color: black;
}

.image1 {
	width: 350px;
	height: 350px;
}

.image2 {
	width: 20px;
	height: 20px;
}

.image3 {
	width: 20px;
	height: 20px;
}

.image4 {
	width: 20px;
	height: 20px;
}

.image5 {
	width: 20px;
	height: 20px;
}

.image6 {
	width: 20px;
	height: 20px;
}

.image7 {
	width: 20px;
	height: 20px;
}
