img {
  transition: all ease  0.5s;
  height: 300px;
  width: 300px;
}

img:hover {
  transform: rotateZ(9000000000000000000000000000000000deg);
}

/*@-webkit-keyframes spin {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}*/
html {
  background-color: lime;
}
